.container {
    margin-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
}

.statusBarINSS {
    height: 20px;
    background-color: #e67e22;
}


.statusBarIR {
    height: 20px;
    background-color: #c0392b;
}

.statusBarNetSalary {
    height: 20px;
    background-color: #16a085;
}